{% extends 'archaeology/base.html' %}
{% block title %}Add Excavation {% endblock %}
{% block body %}
    <div class="panel-body" style="align:center; margin: 20px 20px 20px 20px"></div>

            <fieldset>
                <legend><h2></h2>Excavation form</legend>
                    <form class="form-horizontal" role="form" action="{% url 'archaeology:add_excavation' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">
                        {% include 'archaeology/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
            </fieldset>
    </div>

{% endblock %}
{% block foot %}
{% endblock %}